.footer
  .footer-box_left
    = image_tag 'nophone.jpg', class: "footer-box_left_img"
  .footer-box_right
    %h2 BimiWineについて
    %ul
      %li 会社概要
      %li プレスリリース
      %li プライバシーポリシー
      %li ワインの楽しみ方