.top-header
  .top-header__up
    .top-header__up__left
      = image_tag "IMG_7119.jpg", class: "bimi-icon"
    .top-header__up__right
      %input{type: "seach", name: "header-seach", placeholder: "  search for wine...", class: "header-seach"}
  .top-header__down
    .top-header__down__new
      = link_to "/users/sign_up" do
        新規会員登録
    .top-header__down__login
      = link_to "/users/sign_in" do
        ログイン