.delete-before {
  height: 50vh;
  width: 100vw;

  &__body{
    height: 10%;
    width: 30%;
    display: block;
    margin: 0 auto;
    text-align: center;
    margin-top: 5%;
    padding-top: 2%;
  }

  &__btn{
    display: block;
    width: 15%;
    margin: 0 auto;
    text-align: center;
    margin-top: 5%;
    border: solid 1px;
    border-radius: 15px;
    border-color: darkslategray;
    a {
      text-decoration: none;
      color: blue;
    }
  }
}