.title{
  font-family: 'Permanent Marker', cursive;
  color: darkgoldenrod;
  text-align: center;
  p{
    font-size: 3rem;
  }
}
.top-header{
  width: 100%;
  &__up{
    height: 100%;
    position: relative;
    input{
      width: 60%;
      margin-top: 5%;
      margin-left: 17%;
      padding: 1% 1% 1% 3%;
      outline: none;
    }
    :focus{
      -webkit-appearance: none;
      border-color: dodgerBlue;
      box-shadow: 0 0 8px 0 dodgerBlue;
    }
    :focus + i{
      -webkit-appearance: none;
      color: dodgerBlue;
    }
    i{
    position: absolute;
    left: 18%;
    bottom: 16%;
    color: #aaa;
    
    }
  }

  &__down{
    width: 100%;
    &__new{
      display: inline-block;
      margin-left: 70%;
      a{
        text-decoration: none;
        color: blue;
      }
    }
    &__login{
      display: inline-block;
      a{
        color: red;
        text-decoration: none;
      }
    }
  }
}
// Media用
@media (max-width: 480px){
  
  .top-header{
    &__up{
      height: 37%;
      position: relative;
      margin: 0;
      input{
      width: 70%;
      border: 2px solid #aaa;
      border-radius: 4px;
      outline: none;
      padding: 1% 1% 2% 6%;
      box-sizing: border-box;
      transition: 0.3s;
      margin-left: 15%;
      }
      i{
        bottom: 20%;
        left: 16%;
      }
    }
    &__down{
      width: 100%;
      margin: 0;
      font-family: 'Noto Sans JP', sans-serif;
      font-size: 0.8rem;
      &__new{
        width: 49%;
        margin: 0;
        padding: 0 0 0 16%;
      }
    }
  }
  .header{
    height: 70px;
    position: relative;
    border-bottom: 1px solid #f0f0f0;
    .title{
    position: absolute;
    left: 35%;
    top: 30%;
      p{
        font-size: 1.5rem;
        font-weight: bold;
        display: inline-block;
      }
    }
  }
}