.top-header{
  width: 100%;
  &__up{
    height: 100%;
    margin: 2% auto 0;
    input{
      width: 70%;
      margin-top: 5%;
      padding: 1%;
      outline: none;
    }
  }

  &__down{
    width: 50%;
    height: 30%;
    margin-left: 30%;
    &__new{
      width: 15%;
      display: inline-block;
      margin-left: 75%;
      padding-top: 2%;
      a{
        text-decoration: none;
        color: blue;
      }
    }
    &__login{
      display: inline-block;
      a{
        color: red;
        text-decoration: none;
      }
    }
  }
}
// Media用
@media (max-width: 480px){
  .top-header{
    &__up{
      height: 37%;
      position: relative;
      margin: 0;
      input{
      width: 70%;
      border: 2px solid #aaa;
      border-radius: 4px;
      outline: none;
      padding: 1% 1% 2% 6%;
      box-sizing: border-box;
      transition: 0.3s;
      margin-left: 15%;
      }
      :focus{
        -webkit-appearance: none;
        border-color: dodgerBlue;
        box-shadow: 0 0 8px 0 dodgerBlue;
      }
      i{
        position: absolute;
        top: 49%;
        left: 17%;
        color: #aaa;
      }
    }
    &__down{
      width: 100%;
      margin: 0;
      font-family: 'Noto Sans JP', sans-serif;
      font-size: 0.8rem;
      &__new{
        width: 49%;
        margin: 0;
        padding: 0 0 0 16%;
      }
    }
  }
}