.postbody{
  height: 100vh;
  width: 100vw;
  &-header{
    height: 7%;
    width: 100%;
    text-align: center;
    font-size: 24px;
    font-weight: 900;
    margin-top: 2%;
  }
  &-image{
      border: solid 1px #EDBC6C;
      color: #666;
      border-radius: 5px;
      margin: 0 auto;
      cursor: pointer;
      width: 30%;
      margin-bottom: 2%;
      i {
        font-size: 100px;
        color: #aaa;
        line-height: 200%;
        transition: 0.3s ease-out;
        padding-left: 37%;
      }
      i.add {
        display: none;
        font-size: 50px;
        position: absolute;
        top: -90px;
        right: 15px;
      }
      .label{
        cursor: pointer;
      }
      img{
        object-fit: contain;
      }
  }
  &-name{
    margin: 0 auto;
    margin-bottom: 2%;
    display: block;
    width: 30%;
    height: 20%;
    label{
      text-align: center;
      display: block;
      padding-top: 7%;
      font-size: 20px;
      font-weight: 900;
    }
    &__input{
      width: 98%;
      height: 20%;
      border: 1px solid #ccc;
      padding-left: 2%;
      margin-top: 1%;
      outline: none;
    }
  }
  &-shopname{
    margin: 0 auto;
    display: block;
    width: 30%;
    height: 20%;
    label{
      text-align: center;
      display: block;
      font-size: 20px;
      font-weight: 900;
    }
  }
  &-comment{
    margin: 0 auto;
    display: block;
    width: 30%;
    height: 20%;
    label{
      text-align: center;
      display: block;
      font-size: 20px;
      font-weight: 900;
    }
  }
  &-category{
    margin: 0 auto;
    display: block;
    width: 29%;
    height: 20%;
    &__label{
      margin: 0 auto;
      display: block;
      text-align: center;
      font-size: 21px;
      font-weight: bold;
    }
  }
  &-submit{
    width: 30%;
    height: 20%;
    margin: 0 auto;
    .submit{
      margin: 0 auto;
      display: block;
      width: 80%;
      background-color: #ffa300;
      font-size: 16px;
      color: #FFF;
      font-weight: bold;
      border-radius: 4px;
      border-bottom: 4px solid #d37800;
    }
  }
}

.image-post{
  display: none;
}

.postbody-image:hover {
  background-color: #EDBC6C;
  transition: 0.3s ease-out;
  opacity: 0.9;
}

.postbody-image:hover i {
  transition: 0.3s ease-out;
  display: block;
  color: #fff;
}

@media (max-width: 480px){
  .postbody{
    &-image{
      width: 90%;
    }
    &-name{
      width: 80%;
    }
    &-shopname{
      width: 80%;
    }
    &-comment{
      width: 80%;
    }
    &-category{
      width: 80%;
      height: 10%;
    }
    &-submit{
      padding-top: 5%;
      width: 70%;
      margin: 0 auto;
      .submit{
        -webkit-appearance: none;
        width: 80%;
        padding: 1%;
      }
    }
  }
}