.content2{
  width: 100%;
  .field{
    position: relative;
    margin: 0 auto;
    width: 70%;
    input{
      width: 45%;
      border: 2px solid #aaa;
      border-radius: 4px;
      outline: none;
      box-sizing: border-box;
      transition: 0.3s;
      padding: 1%;
      margin: 6% 0% 0% 27%;
    }
    :focus{
      -webkit-appearance: none;
      border-color: dodgerBlue;
      box-shadow: 0 0 8px 0 dodgerBlue;
    }
    :focus + i{
      color: dodgerBlue;
    }
  }

  .actions{
    padding-top: 5%;
    width: 70%;
    margin: 0 auto;
    .submit-btn{
      width: 45%;
      padding: 1%;
      margin-left: 27%;
      margin-bottom: 10%;
      display: inline-block;
      background-color: #ffa300;
      font-size: 16px;
      color: #FFF;
      font-weight: bold;
      border-radius: 4px;
      border-bottom: 4px solid #d37800;
    }
  }
}

// Media用
@media (max-width: 480px){
  
  .content2{
    padding-top: 20%;
  
  .field{
    position: relative;
    margin: 0 auto;
    width: 70%;
    input{
      width: 100%;
      margin: 8px 0;
      padding: 8px;
      padding-left: 14%;
    }

    i{
    position: absolute;
    left: 0;
    top: 13px;
    padding: 9px 8px;
    color: #aaa;
    transition: 0.3s;
    }
  }
  .actions{
   .submit-btn{
      -webkit-appearance: none;
      font-size: 1rem;
      width: 100%;
      padding: 4%;
      margin: 0;
    }
  }
 }
}