.wines-box
  .wines-box_phot
    = image_tag "red-wine.jpg", class: "wines-pict"
  .wines-box_name
    %span Name :
  .wines-box_tags
    %span Tags :
  .wines-box_heart
    %i.far.fa-heart
    %span 10