.header
  = link_to '/wines/index' ,style: "text-decoration: none" do
    .title
      %p Bimi Wine
.post-complete
  .post-complete__body
    投稿が完了しました。
  .post-complete__btn
    = link_to "/users/#{current_user.id}" do
      マイページに戻る
= render 'module/footer'